body {
    font-family: Trebuchet MS;
    background-color: #945f7a; 
}

#navbar {
    background-color: #f55897;
}

h1 {
    text-align: center;
    background-color: #f55897;
}

p {
    text-align: center;
    background-color: lightcoral;
    display: flex;
    flex-direction: row;
}