html body {
    font-family: Trebuchet MS;
    background-image: url(files/graveyard3.png); 
    color:rgba(212, 171, 10, 0.746);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


h1 {
    text-align: center;
    background-color: #363739;
    color:rgba(212, 171, 10, 0.746);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card-text {
color: rgba(236, 191, 11, 0.746);
}

.row {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

p {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.bg-body-tertiary {
    background-color: #2f3033  !important;
}

.nav-item a {
    color:rgba(212, 171, 10, 0.746) !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navbar-toggler {
    background-color: #fff !important;
}


.nav-link {
    color:rgba(212, 171, 10, 0.746) !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}

.nav-link:hover {
    color:rgba(255, 204, 0, 0.746) !important;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}

.imageWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.card-body {
    background-color: rgba(111, 108, 108, 0.677) !important;  
}
 
.card-canvas {
    background-color: white !important;
}
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
  }
  
  .survey {
    padding-left: 1em;
  }

  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }
  
  .container-fluid {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }

  .container {
    padding-top: 10px;
  }

  input[type='checkbox'] {
    display: none;
}

.wrap-collabsible {
    margin: 1.2rem 0;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color:rgba(212, 171, 10, 0.746) !important;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 500px;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    background: rgba(254, 254, 254, 0.2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content p {
    margin-bottom: 0;
}

.image{
min-height: 200px;}

.image2{
min-height: 300px;}


.image, .image2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 300px;
    float: left;
}



.dropdownContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.lbl-toggle2 {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color:rgba(212, 171, 10, 0.746) !important;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle2:hover {
    color: #FFF;
}

.lbl-toggle2::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.collapsible-content2 .content-inner2 {
    background: rgba(254, 254, 254, 0.2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content2 p {
    margin-bottom: 0;
}

.collapsible-content2 {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle2:checked+.lbl-toggle2+.collapsible-content2 {
    max-height: 500px;
}

.toggle2:checked+.lbl-toggle2 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.lbl-toggle3 {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color:rgba(212, 171, 10, 0.746) !important;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle3:hover {
    color: #FFF;
}

.lbl-toggle3::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.collapsible-content3 .content-inner3 {
    background: rgba(254, 254, 254, 0.2);
    border-bottom: 1px solid rgba(0, 105, 255, .45);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}

.collapsible-content3 p {
    margin-bottom: 0;
}

.collapsible-content3 {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.toggle3:checked+.lbl-toggle3+.collapsible-content3 {
    max-height: 500px;
}

.toggle3:checked+.lbl-toggle3 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-primary {
    background-color:rgba(92, 87, 87, 0.666);
    color:rgba(212, 171, 10, 0.746);
    --bs-btn-bg: rgba(145, 141, 141, 0.57);
    --bs-btn-border-color: rgba(145, 141, 141, 0.57);
    --bs-btn-hover-color:rgba(255, 204, 0, 0.746);
    --bs-btn-hover-bg: rgb(145, 141, 141);
    --bs-btn-hover-border-color: rgba(96, 92, 92, 0.57);
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #959ba3;
    --bs-btn-active-bg: #a2a9b3;
    --bs-btn-active-border-color: #959ba3;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: rgba(145, 141, 141, 0.57);
    --bs-btn-disabled-border-color: rgba(145, 141, 141, 0.57);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.survey {
    color:rgba(212, 171, 10, 0.746);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.langpic, .image2 {
    max-width: 100%;
    height: auto;
}

.row {
    background: rgba(254, 254, 254, 0.2);
}

.col3 {
    padding-top: 5%;
}
.footer {
    margin-top: 15%;
}
